Flask==0.10.1
Flask-Admin==1.4.0
Flask-Migrate==1.8.0
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
SQLAlchemy==1.0.13
WTForms==2.1
Werkzeug==0.11.9
alembic==0.8.6
gunicorn==19.5.0
itsdangerous==0.24
mimerender==0.6.0
psycopg2==2.6.1
python-dateutil==2.5.3
python-editor==1.0
python-mimeparse==1.5.2
six==1.10.0
